<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8" />
    <title>登录</title>
    <style>.error{color:red;}</style>
</head>
<body>
<div class="error" th:text="${exception}"></div>
<form action="login" method="post">
    用户名：<input type="text" name="username" /><br/>
    密码：<input type="password" name="password" /><br/>
    <input type="checkbox" name="rememberMe" />记住我<br>
    <input type="submit" value="登录">
</form>

<a href="${pageContext.request.contextPath}/user/hello1">点击</a>

<a href="${pageContext.request.contextPath}/userApp/list">点击</a>
</body>
</html>